.login-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 62%;
  border-radius: 10px;
}

.login-form-form {
  text-align: center;
}

.fb-login-input {
  width: 80%;
  text-align: center;
  margin: 10px;
  margin-left: 38px;
  margin-top: 30px;
}
